[push]
	default = simple
[alias]
	tree = "log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'"
	co = checkout
	cm = commit
	br = branch
	st = status
[color]
	ui = auto
[core]
	autocrlf = false
	safecrlf = true
[pager]
	branch = cat
	config = cat
